*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center; 
  height: 100vh;
  width: 100%; 
  display: flex;
  justify-content: center;  
}
.Employee-List{
  font-size:25px;
  /* border: 1px solid black; */
  width: 100%;
  height: 500px;
  background-color: #FCBF49;
  border-collapse: collapse;
}
a {
  all: unset;
}

.Employee-List thead{
  background-color:black;
  color: white;
}

.Employee-List th,td{
  padding: 20px;
}


.Employee-details{
    background-color: #FEFAE0;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    margin: 20px auto;
}
.Employee-details .details{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 48px;
}

.details h1{
  margin: 20px;
}
